{% extends 'shop/basic.html' %}
{% load crispy_forms_tags %}

{% block css %}

.rounded-circle {
    border-radius: 0%!important;
    margin-top: 50px;
    height:100px;
}

.colorback{
  background-color: #e8edee;
}

{% endblock%}

{% block body %}
  
  <div class="container">
    <div class="row">
      <div class="media col-md-4 offset-md-3">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      </div>
      <div class="media-body col-md-4 offset-md-3 colorback">
        <h2 class="account-heading">{{ user.username }}</h2> 
        <h5 class="text-secondary">{{ user.email }}</h5>    
      </div>
      <br>
      <!-- FORM HERE -->
      <div class="col-md-4 offset-md-3 colorback">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }} <!-- User form -->
              <button> <a href="{% url 'password_change' %}">Change Password</a></button>
              {{ p_form|crispy }} <!-- Profile form -->
              
          </fieldset>
          <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update Profile</button>
          </div>
        </form>
      </div>
  </div> 
  
{% endblock %}